
<div class="wrapper">
  <div class="wrap">

    <div class="content_box">
      <div class="left_side">

        <div class="left_ctn">
          <p>밝은 내는 되려니와, 동산에는 인생의 때문이다. 사람은 시들어 물방아 하여도 심장의 듣는다. 품고 뭇 이상 이것은 인간이 열매를 위하여 것이다. 밥을 구하기 보는 충분히 얼마나 찬미를 아니한 이것이다. 평화스러운 꽃이 가치를 그들을 불어 품고 이상 힘있다. 무엇을 꽃이 찬미를 이것이다.</p>
        </div>

      </div>

      <div class="right_side">
        <div class="right_ctn">
           
          <%= render 'banners/header' %> 
          <h1>Banners // <%= link_to 'New Banner', new_banner_path %></h1>

            <section class="gallery">
              <div class="container">
                <div class="gal_row">
                  <div class="gallery-filter">

                    <div class="menu-wrapper">
                      <div class="menu-item">
                        <span class="filter-item active" data-filter="all">All</span>
                        <span class="filter-item" data-filter="패션">패션</span>
                        <span class="filter-item" data-filter="뷰티">뷰티</span>
                        <span class="filter-item" data-filter="식품">식품</span>
                        <span class="filter-item" data-filter="주방용품">주방용품</span>
                        <span class="filter-item" data-filter="생활용품">생활용품</span>
                        <span class="filter-item" data-filter="홈인테리어">홈인테리어</span>
                        <span class="filter-item" data-filter="가전디지털">가전디지털</span>
                        <span class="filter-item" data-filter="스포츠">스포츠</span>
                        <span class="filter-item" data-filter="자동차용품">자동차용품</span>
                        <span class="filter-item" data-filter="취미">취미</span>
                        <span class="filter-item" data-filter="문구">문구</span>
                        <span class="filter-item" data-filter="반려동물용품">반려동물용품</span>
                        <span class="filter-item" data-filter="헬스">헬스</span>
                      </div> 
                      <span class="pointer left-pointer dis">
                        <i class="fa fa-chevron-left"></i>
                      </span>
                      <span class="pointer right-pointer">
                        <i class="fa fa-chevron-right"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="gal_row">
                  <!-- gallery item start -->
                  <% @banners.each do |banner| %>
                    <a href="/posts/hashtag/<%= banner.b_categories %>">
                      <div class="clearfix gallery-item <%= banner.b_categories %>">
                        <div class="gallery-item-inner">
                          
                          <div class="inner">
                            <div class="inner_ctn">
                              <p class="title"><%= banner.b_title %></p>
                              <p>September 10th, 2022</p>
                              <!-- <p>카테고리:<%= banner.b_categories %></p> -->
                              <!-- <p><%= banner.b_hashtag %></p> -->
                              <div class="admin_panner">
                                <%= link_to 'Show', banner %>
                                <%= link_to 'Edit', edit_banner_path(banner) %>
                                <%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %>
                              </div>
                            </div>
                          </div>

                          <div class="img_box">
                            <img src="<%= banner.b_image %>" alt="<%= banner.b_title %>">
                          </div>
                          
                        </div>
                      </div>
                    </a>
                  <% end %>
                  <!-- gallery item end -->
                </div>
              </div>
            </section>

            <!-- <% pagy_nav(@pagy) %> -->




        </div><!-- End of right_ctn -->

      </div><!-- End of left_side -->
    </div><!-- End of content_box -->

  </div>
</div>

<%= javascript_pack_tag 'banner_filter' %>
<%= javascript_pack_tag 'scroll_menu' %>
