<p id="notice"><%= notice %></p>

<p>
  <strong>B title:</strong>
  <%= @banner.b_title %>
</p>

<p>
  <strong>B body:</strong>
  <%= @banner.b_body %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
