<div class="wrapper">
  <div class="wrap">

    <div class="content_box">
      <div class="left_side">
        <div class="left_ctn">
          <p>밝은 내는 되려니와, 동산에는 인생의 때문이다. 사람은 시들어 물방아 하여도 심장의 듣는다. 품고 뭇 이상 이것은 인간이 열매를 위하여 것이다. 밥을 구하기 보는 충분히 얼마나 찬미를 아니한 이것이다. 평화스러운 꽃이 가치를 그들을 불어 품고 이상 힘있다. 무엇을 꽃이 찬미를 이것이다.</p>
        </div>
      </div>


      <div class="right_side">
        <div class="right_ctn">
          <%= render 'shared/header' %>
          <br><br>

          <div class="banner_wrap">
            <div class="banner main_banner">
              <% @latest_banners.each do |banner| %>
                <a href="/posts/hashtag/<%= banner.b_categories %>">      
                  <div class="banner_box">
                    <img src="<%= banner.b_image %>" alt="<%= banner.b_title %>">
                    <div class="inner">
                      <p class="title"><%= banner.b_title %></p>
                      <span>September 10th, 2022</span>
                      <div class="admin_panner">
                        <%= link_to 'Edit', edit_banner_path(banner) %>
                        <%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    </div>
                  </div>
                </a>
              <% end %>
            </div>

            <div class="banner sub_banner">
              <% @except_first_banners.each do |banner| %>
                <a href="/posts/hashtag/<%= banner.b_categories %>">      
                  <div class="banner_box">
                    <div class="img_box">
                      <img src="<%= banner.b_image %>" alt="<%= banner.b_title %>">
                    </div>
                    <div class="inner_box">
                      <div class="inner">
                        <p class="title"><%= banner.b_title %></p>
                        <p class="title"><%= banner.b_sub_title %></p>
                      </div>
                      <span>By WACKY's Editor on<%= banner.created_at.strftime(" %Y-%m-%d") %></span>
                      <div class="admin_panner">
                        <%= link_to 'Edit', edit_banner_path(banner), :class => "admin_edit" %>
                        <%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    </div>
                  </div>
                </a>
              <% end %>
            </div>
          </div>


         <!--  <section class="gallery">
              <div class="container">
                
                <div class="gal_row first_banner">
                 
                  <% @latest_banners.each do |banner| %>
                    
                      <div class="clearfix gallery-item <%= banner.b_categories %>">
                        <div class="gallery-item-inner">
                          <a href="/posts/hashtag/<%= banner.b_categories %>">      
                            <div class="inner">
                              <div class="inner_ctn">
                                <p class="title"><%= banner.b_title %></p>
                                <p>September 10th, 2022</p>
                                <div class="admin_panner">
                                  <%= link_to 'Edit', edit_banner_path(banner) %>
                                  <%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %>
                                </div>
                              </div>
                            </div>
                          </a>
                          <a href="/posts/hashtag/<%= banner.b_categories %>">      
                            <div class="img_box">
                              <img src="<%= banner.b_image %>" alt="<%= banner.b_title %>">
                            </div>
                          </a>
                          
                        </div>
                      </div>
                    
                  <% end %>
                  
                </div>
              
                <div class="gal_row">
                    
                    <% @except_first_banners.each do |banner| %>
                      <a href="/posts/hashtag/<%= banner.b_categories %>">
                        <div class="clearfix gallery-item <%= banner.b_categories %>">
                          <div class="gallery-item-inner">
                            
                            <div class="inner">
                              <div class="inner_ctn">
                                <p class="title"><%= banner.b_title %></p>
                                <p>September 10th, 2022</p>
                                
                                <div class="admin_panner">
                                  <%= link_to 'Edit', edit_banner_path(banner) %>
                                  <%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %>
                                </div>
                              </div>
                            </div>

                            <div class="img_box">
                              <img src="<%= banner.b_image %>" alt="<%= banner.b_title %>">
                            </div>
                            
                          </div>
                        </div>
                      </a>
                    <% end %>
                    
                </div>

              </div>
          </section> -->

         <!--  <div class="index_banner clearfix">
            <div class="main_banner">
              <% @latest_banners.each do |banner| %>
                  <p><%= banner.b_title %>// <%= render_with_bhashtags(banner.b_hashtag) %></p>
                  <a href="/posts/hashtag/<%= banner.b_categories %>">
                    <img src="<%= banner.b_image %>" title="<%= banner.b_title %>" alt="<%= banner.b_title %>">
                  </a>
                  <div class="admin_panner">
                    <%= link_to 'Show', banner %>
                    <%= link_to 'Edit', edit_banner_path(banner) %>
                    <%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </p>
              <% end %>
            </div>

            <div class="sub_banner clearfix">
              <% @except_first_banners.each do |banner| %>
                  <div class="sub_banner_card clearfix">

                    <div class="inner">
                      <a href="/posts/hashtag/<%= banner.b_categories %>">
                        <div class="inner_box">
                          <span>ISSUE 01</span>
                          <p><%= banner.b_title %></p>
                          <em><%= banner.b_sub_title %></em>
                        </div>
                      </a>
                      <div class="admin_panner">
                        <%= link_to 'Show', banner %>
                        <%= link_to 'Edit', edit_banner_path(banner) %>
                        <%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    </div>

                    <div class="img_box">
                      <a href="/posts/hashtag/<%= banner.b_categories %>"><img src="<%= banner.b_image %>" title="<%= banner.b_title %>" alt="<%= banner.b_title %>"></a>
                    </div>

                  </div>
                </p>
              <% end %>
            </div>

            <div class="more_btn">
              <a href="/banners">더 보기</a>
            </div>
          </div> -->

          <div class="top_views clearfix">
            <h2>이번 주 인기 세일 TOP 10</h2>

            <% @most_hit.each_with_index do |post, i| %>          
              <div class="top_view_box clearfix">
                  <div class="img_box">
                    <%= link_to image_tag(post.image, alt: post.title, title: post.title, :class => 'main_img'), post %>
                    <!-- <img src="<%= post.image %>" alt="<%= post.title %>"> -->
                    <span class="ranked_number"><%= i + 1 %></span>
                  </div>
                  <div class="top_view_inner comm_inner">
                    <p class="title"><%= post.title %></p>
                    <div class="pricing">
                      <!-- <p class="was_price"><%= number_to_currency(post.was_price, locale: :kr) %>원</p> -->
                      <p class="is_price">
                        <%= number_to_currency(post.is_price, locale: :kr) %>원
                        <span class="pct"><%= number_to_percentage(post.pct, precision: 0) %></span>
                      </p>
                    </div>
                    <!-- <p><%= render_with_hashtags(post.hashtag) %></p> -->
                    <div class="admin_panner">
                      <%= link_to 'Show', post %>
                      <%= link_to 'Edit', edit_post_path(post) %>
                      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                      views: <%= post.hits %>
                    </div>
                  </div>
              </div>
            <% end %>
            
          </div><!-- top_views -->

          <a class="weekly_top clearfix" href="/hubs/top_views">더 보기</a>

        
        </div><!-- End of right_ctn -->

      </div><!-- End of right_side -->
    </div><!-- End of content_box -->

  </div>
</div>


