 <!-- evaluation -->
  <div class="show_eva">
    <div class="evaluation">
      
          <p><%= @post.eva_title_01 %></p>
          <div class="barGraph">
            <ul class="graph">
              <span class="graph-barBack">
                <li class="graph-bar best" data-value="<%= @post.eva_10 %>">
                  <span class="graph-legend"><img src="<%=asset_path 'eva_best.png' %>"></span>
                </li>
              </span>  

              <span class="graph-barBack">    
                <li class="graph-bar good" data-value="<%= @post.eva_11 %>">
                  <span class="graph-legend"><img src="<%=asset_path 'eva_good.png' %>"></span>
                </li>
              </span>

              <span class="graph-barBack">    
                <li class="graph-bar bed" data-value="<%= @post.eva_12 %>">
                  <span class="graph-legend"><img src="<%=asset_path 'eva_bad.png' %>"></span>
                </li>
              </span>

            </ul>
            
          </div>

      
        
    </div>
  </div>
  <!-- end -->

  <!-- evaluation -->
  <div class="show_eva">
    <div class="evaluation">
      <p><%= @post.eva_title_02 %></p>
      
        <div class="barGraph">
          <ul class="graph">
            <span class="graph-barBack">
              <li class="graph-bar best" data-value="<%= @post.eva_10 %>">
                <span class="graph-legend"><img src="<%=asset_path 'eva_best.png' %>"></span>
              </li>
            </span>  

            <span class="graph-barBack">    
              <li class="graph-bar good" data-value="<%= @post.eva_11 %>">
                <span class="graph-legend"><img src="<%=asset_path 'eva_good.png' %>"></span>
              </li>
            </span>

            <span class="graph-barBack">    
              <li class="graph-bar bed" data-value="<%= @post.eva_12 %>">
                <span class="graph-legend"><img src="<%=asset_path 'eva_bad.png' %>"></span>
              </li>
            </span>

          </ul>
        </div>
        
    </div>
  </div>
  <!-- end -->

  <!-- evaluation -->
  <div class="show_eva">
    <div class="evaluation">
      <p><%= @post.eva_title_03 %></p>
      
        <div class="barGraph">
          <ul class="graph">
            <span class="graph-barBack">
              <li class="graph-bar best" data-value="<%= @post.eva_10 %>">
                <span class="graph-legend"><img src="<%=asset_path 'eva_best.png' %>"></span>
              </li>
            </span>  

            <span class="graph-barBack">    
              <li class="graph-bar good" data-value="<%= @post.eva_11 %>">
                <span class="graph-legend"><img src="<%=asset_path 'eva_good.png' %>"></span>
              </li>
            </span>

            <span class="graph-barBack">    
              <li class="graph-bar bed" data-value="<%= @post.eva_12 %>">
                <span class="graph-legend"><img src="<%=asset_path 'eva_bad.png' %>"></span>
              </li>
            </span>

          </ul>
        </div>
        
    </div>
  </div>
  <!-- end -->

  <!-- evaluation -->
  <div class="show_eva">
    <div class="evaluation">
      <p><%= @post.eva_title_04 %></p>
      
        <div class="barGraph">
          <ul class="graph">
            <span class="graph-barBack">
              <li class="graph-bar best" data-value="<%= @post.eva_10 %>">
                <span class="graph-legend"><img src="<%=asset_path 'eva_best.png' %>"></span>
              </li>
            </span>  

            <span class="graph-barBack">    
              <li class="graph-bar good" data-value="<%= @post.eva_11 %>">
                <span class="graph-legend"><img src="<%=asset_path 'eva_good.png' %>"></span>
              </li>
            </span>

            <span class="graph-barBack">    
              <li class="graph-bar bed" data-value="<%= @post.eva_12 %>">
                <span class="graph-legend"><img src="<%=asset_path 'eva_bad.png' %>"></span>
              </li>
            </span>

          </ul>
        </div>
        
    </div>
  </div>
  <!-- end -->