<% if @post.eva_title_01.present? %>
  <!-- Four Tabs -->
  <div class="tabs">
    <h2>Review Detail</h2>
    
    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">  
    <input type="radio" id="tab4" name="tab-control">
    <!-- <ul class="tabs_ul">
      <li class="tabs_li" title="Features">
        <label for="tab1" role="button"><img src="<%=asset_path 'doughnut.png' %>"><br></label>

      </li>
      <li title="Delivery Contents">
        <label for="tab2" role="button"><img src="<%=asset_path 'doughnut.png' %>"><br></label>
      </li>
      <li title="Shipping">
        <label for="tab2" role="button"><svg viewBox="0 0 24 24"><path d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
        </svg></label>
      </li>    
      <li title="Returns">
        <label for="tab4" role="button"><img src="<%=asset_path 'doughnut.png' %>"><br></label>
      </li>
    </ul> -->

    <ul class="tabs_ul">
      <li class="tabs_li" title="Rating Details"><label for="tab1" role="button"><svg enable-background="new 0 0 512 512" height="24" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M81.081,140.881c-2.776,0-5.539-1.149-7.516-3.399l-19.334-22c-3.646-4.148-3.238-10.467,0.91-14.113    c4.149-3.646,10.466-3.238,14.113,0.911l12.734,14.49l41.821-36.735c4.148-3.646,10.468-3.236,14.112,0.914    c3.646,4.149,3.236,10.468-0.913,14.113l-49.333,43.333C85.777,140.063,83.425,140.881,81.081,140.881z"/></g><g><path d="M110.162,167.921h-75c-5.522,0-10-4.477-10-10v-77c0-5.523,4.478-10,10-10h75c5.522,0,10,4.477,10,10v77    C120.162,163.444,115.685,167.921,110.162,167.921z M45.162,147.921h55v-57h-55V147.921z"/></g><g><path d="M110.162,310.588h-75c-5.522,0-10-4.477-10-10v-77c0-5.523,4.478-10,10-10h75c5.522,0,10,4.477,10,10v77    C120.162,306.111,115.685,310.588,110.162,310.588z M45.162,290.588h55v-57h-55V290.588z"/></g><g><path d="M110.162,453.254h-75c-5.522,0-10-4.477-10-10v-77c0-5.523,4.478-10,10-10h75c5.522,0,10,4.477,10,10v77    C120.162,448.777,115.685,453.254,110.162,453.254z M45.162,433.254h55v-57h-55V433.254z"/></g><g><path d="M189.5,157.604c-2.073,0-4.137-0.644-5.879-1.91c-3.079-2.237-4.622-6.029-3.979-9.781l4.005-23.349l-16.964-16.537    c-2.726-2.657-3.706-6.631-2.53-10.251c1.177-3.62,4.306-6.258,8.072-6.806l23.444-3.407l10.483-21.244    c1.685-3.414,5.161-5.575,8.968-5.575s7.283,2.161,8.968,5.574l10.484,21.244l23.444,3.407c3.768,0.547,6.896,3.186,8.073,6.806    c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537l4.004,23.35c0.643,3.751-0.899,7.543-3.979,9.78    c-3.08,2.237-7.163,2.532-10.531,0.761l-20.97-11.024l-20.969,11.024C192.689,157.224,191.092,157.604,189.5,157.604z     M215.121,124.133c1.599,0,3.196,0.383,4.653,1.148l7.689,4.042l-1.469-8.561c-0.556-3.244,0.52-6.554,2.876-8.851l6.22-6.063    l-8.596-1.249c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.595,1.249    l6.22,6.063c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.56l7.688-4.042C211.924,124.516,213.522,124.133,215.121,124.133z"/></g><g><path d="M350.873,157.604c-1.592,0-3.189-0.379-4.652-1.148l-20.97-11.024l-20.969,11.024c-3.368,1.772-7.451,1.477-10.531-0.761    c-3.079-2.237-4.621-6.029-3.979-9.78l4.004-23.35l-16.964-16.537c-2.726-2.657-3.706-6.631-2.53-10.251    c1.177-3.62,4.306-6.258,8.073-6.806l23.444-3.407l10.483-21.244c1.685-3.414,5.161-5.575,8.968-5.575s7.282,2.161,8.968,5.574    l10.484,21.244l23.444,3.407c3.767,0.547,6.896,3.186,8.072,6.806c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537    l4.005,23.349c0.644,3.751-0.899,7.543-3.979,9.781C355.01,156.959,352.946,157.604,350.873,157.604z M325.251,124.133    c1.599,0,3.196,0.383,4.653,1.148l7.688,4.042l-1.469-8.56c-0.556-3.244,0.52-6.554,2.876-8.851l6.22-6.063l-8.595-1.249    c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.596,1.249l6.22,6.063    c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.56l7.688-4.042C322.054,124.516,323.652,124.133,325.251,124.133z"/></g><g><path d="M189.5,311.517c-2.073,0-4.137-0.644-5.879-1.91c-3.079-2.237-4.622-6.029-3.979-9.781l4.005-23.349l-16.964-16.537    c-2.726-2.657-3.706-6.631-2.53-10.251c1.177-3.62,4.306-6.258,8.072-6.806l23.444-3.407l10.483-21.244    c1.685-3.414,5.161-5.575,8.968-5.575s7.283,2.161,8.968,5.574l10.484,21.244l23.444,3.407c3.768,0.547,6.896,3.186,8.073,6.806    c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537l4.004,23.35c0.643,3.751-0.899,7.543-3.979,9.78    c-3.08,2.237-7.163,2.532-10.531,0.761l-20.97-11.024l-20.969,11.024C192.689,311.138,191.092,311.517,189.5,311.517z     M215.121,278.046c1.599,0,3.196,0.383,4.653,1.149l7.689,4.042l-1.469-8.561c-0.556-3.244,0.52-6.553,2.876-8.851l6.22-6.063    l-8.596-1.249c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.595,1.249    l6.22,6.063c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.56l7.688-4.042C211.924,278.429,213.522,278.046,215.121,278.046z"/></g><g><path d="M350.873,311.517c-1.592,0-3.189-0.379-4.652-1.148l-20.97-11.024l-20.969,11.024c-3.368,1.772-7.451,1.477-10.531-0.761    c-3.079-2.237-4.621-6.029-3.979-9.78l4.004-23.35l-16.964-16.537c-2.726-2.657-3.706-6.631-2.53-10.251    c1.177-3.62,4.306-6.258,8.073-6.806l23.444-3.407l10.483-21.244c1.685-3.414,5.161-5.575,8.968-5.575s7.282,2.161,8.968,5.574    l10.484,21.244l23.444,3.407c3.767,0.547,6.896,3.186,8.072,6.806c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537    l4.005,23.349c0.644,3.751-0.899,7.543-3.979,9.781C355.01,310.873,352.946,311.517,350.873,311.517z M325.251,278.046    c1.599,0,3.196,0.383,4.653,1.149l7.688,4.042l-1.469-8.56c-0.556-3.244,0.52-6.554,2.876-8.851l6.22-6.063l-8.595-1.249    c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.596,1.249l6.22,6.063    c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.561l7.688-4.042C322.054,278.429,323.652,278.046,325.251,278.046z"/></g><g><path d="M461.001,157.604c-1.592,0-3.189-0.379-4.652-1.149l-20.969-11.024l-20.969,11.024c-3.368,1.772-7.451,1.477-10.531-0.761    c-3.079-2.237-4.621-6.029-3.979-9.78l4.004-23.35l-16.964-16.537c-2.726-2.657-3.706-6.631-2.53-10.251    c1.177-3.62,4.306-6.258,8.073-6.806l23.444-3.407l10.483-21.244c1.685-3.414,5.161-5.575,8.968-5.575s7.282,2.161,8.968,5.574    l10.484,21.244l23.444,3.407c3.767,0.547,6.896,3.186,8.072,6.806c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537l4.004,23.35    c0.643,3.751-0.899,7.543-3.979,9.78C465.138,156.959,463.074,157.604,461.001,157.604z M435.38,124.133    c1.599,0,3.197,0.383,4.653,1.149l7.688,4.042l-1.469-8.56c-0.556-3.244,0.52-6.554,2.876-8.851l6.22-6.063l-8.595-1.249    c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.596,1.249l6.22,6.063    c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.56l7.688-4.042C432.183,124.516,433.781,124.133,435.38,124.133z"/></g></g></svg><br></label></li>
      <li class="tabs_li" title="Users Evalutation"><label for="tab2" role="button"><svg enable-background="new 0 0 512 512" height="24px" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M71.08,245.33c-2.63,0-5.21-1.07-7.07-2.93s-2.93-4.44-2.93-7.07c0-2.64,1.069-5.22,2.93-7.07    c1.86-1.87,4.44-2.93,7.07-2.93s5.21,1.06,7.069,2.93c1.86,1.86,2.931,4.43,2.931,7.07c0,2.63-1.07,5.21-2.931,7.07    C76.29,244.26,73.72,245.33,71.08,245.33z"/></g><g><path d="M99.58,245.33c-2.63,0-5.21-1.07-7.07-2.93c-1.86-1.87-2.93-4.44-2.93-7.07c0-2.64,1.069-5.21,2.93-7.08    c1.86-1.86,4.44-2.92,7.07-2.92c2.64,0,5.21,1.06,7.069,2.92c1.87,1.87,2.931,4.45,2.931,7.08c0,2.63-1.061,5.2-2.931,7.07    C104.79,244.26,102.21,245.33,99.58,245.33z"/></g><g><path d="M87.196,286.674c-13.155,0-23.858-10.702-23.858-23.856c0-5.523,4.478-10,10-10h27.713c5.522,0,10,4.477,10,10    C111.051,275.973,100.35,286.674,87.196,286.674z"/></g><g><path d="M71.42,83.18c-2.64,0-5.21-1.07-7.08-2.93c-1.86-1.86-2.92-4.44-2.92-7.07c0-2.63,1.06-5.21,2.92-7.07    c1.87-1.86,4.44-2.93,7.08-2.93c2.63,0,5.21,1.07,7.07,2.93c1.859,1.86,2.93,4.44,2.93,7.07c0,2.63-1.07,5.21-2.93,7.07    C76.63,82.11,74.05,83.18,71.42,83.18z"/></g><g><path d="M99.92,83.18c-2.63,0-5.21-1.07-7.07-2.93c-1.87-1.86-2.93-4.44-2.93-7.07c0-2.63,1.06-5.21,2.93-7.07    c1.86-1.86,4.431-2.93,7.07-2.93c2.63,0,5.21,1.07,7.07,2.93c1.859,1.86,2.93,4.44,2.93,7.07c0,2.63-1.07,5.21-2.93,7.07    C105.12,82.11,102.55,83.18,99.92,83.18z"/></g><g><path d="M100.718,121.105H71.417c-5.522,0-10-4.477-10-10c0-13.593,11.058-24.652,24.648-24.652    c13.594,0,24.652,11.059,24.652,24.652C110.718,116.628,106.24,121.105,100.718,121.105z"/></g><g><path d="M69.53,420.59c-2.631,0-5.211-1.07-7.07-2.93c-1.86-1.86-2.93-4.44-2.93-7.07c0-2.64,1.069-5.21,2.93-7.07    c1.859-1.87,4.439-2.93,7.07-2.93c2.63,0,5.21,1.06,7.069,2.93c1.86,1.86,2.931,4.43,2.931,7.07c0,2.63-1.07,5.21-2.931,7.07    C74.74,419.52,72.16,420.59,69.53,420.59z"/></g><g><path d="M104.03,420.59c-2.631,0-5.211-1.07-7.07-2.93c-1.86-1.87-2.93-4.44-2.93-7.07s1.069-5.21,2.93-7.08    c1.859-1.86,4.439-2.92,7.07-2.92c2.63,0,5.21,1.06,7.069,2.92c1.86,1.87,2.931,4.45,2.931,7.08s-1.07,5.2-2.931,7.07    C109.24,419.52,106.66,420.59,104.03,420.59z"/></g><g><path d="M108.861,450.296H65.528c-5.522,0-10-4.477-10-10v-7.05c0-5.523,4.478-10,10-10h43.333c5.522,0,10,4.477,10,10v7.05    C118.861,445.819,114.384,450.296,108.861,450.296z"/></g><g><path d="M86.067,155.955c-35.261,0-63.947-28.687-63.947-63.947s28.687-63.947,63.947-63.947c35.26,0,63.946,28.687,63.946,63.947    S121.327,155.955,86.067,155.955z M86.067,48.062c-24.232,0-43.947,19.714-43.947,43.947s19.715,43.947,43.947,43.947    s43.946-19.714,43.946-43.947S110.3,48.062,86.067,48.062z"/></g><g><path d="M86.067,319.947c-35.261,0-63.947-28.687-63.947-63.947s28.687-63.947,63.947-63.947c35.26,0,63.946,28.687,63.946,63.947    S121.327,319.947,86.067,319.947z M86.067,212.053c-24.232,0-43.947,19.714-43.947,43.947s19.715,43.947,43.947,43.947    s43.946-19.714,43.946-43.947S110.3,212.053,86.067,212.053z"/></g><g><path d="M86.067,483.938c-35.261,0-63.947-28.687-63.947-63.947s28.687-63.947,63.947-63.947c35.26,0,63.946,28.687,63.946,63.947    S121.327,483.938,86.067,483.938z M86.067,376.045c-24.232,0-43.947,19.714-43.947,43.947s19.715,43.947,43.947,43.947    s43.946-19.714,43.946-43.947S110.3,376.045,86.067,376.045z"/></g><g><path d="M479.88,136.008h-285c-5.522,0-10-4.477-10-10v-68c0-5.523,4.478-10,10-10h285c5.522,0,10,4.477,10,10v68    C489.88,131.531,485.402,136.008,479.88,136.008z M204.88,116.008h265v-48h-265V116.008z"/></g><g><path d="M479.88,300h-285c-5.522,0-10-4.477-10-10v-68c0-5.523,4.478-10,10-10h285c5.522,0,10,4.477,10,10v68    C489.88,295.523,485.402,300,479.88,300z M204.88,280h265v-48h-265V280z"/></g><g><path d="M479.88,463.992h-285c-5.522,0-10-4.477-10-10v-68c0-5.523,4.478-10,10-10h285c5.522,0,10,4.477,10,10v68    C489.88,459.515,485.402,463.992,479.88,463.992z M204.88,443.992h265v-48h-265V443.992z"/></g><g><path d="M289.546,131.052H194.88c-5.522,0-10-4.477-10-10V58.008c0-5.523,4.478-10,10-10h94.666c5.522,0,10,4.477,10,10v63.044    C299.546,126.575,295.068,131.052,289.546,131.052z M204.88,111.052h74.666V68.008H204.88V111.052z"/></g><g><path d="M418.546,300H194.88c-5.522,0-10-4.477-10-10v-68c0-5.523,4.478-10,10-10h223.666c5.522,0,10,4.477,10,10v68    C428.546,295.523,424.068,300,418.546,300z M204.88,280h203.666v-48H204.88V280z"/></g><g><path d="M260.546,463.992H194.88c-5.522,0-10-4.477-10-10v-68c0-5.523,4.478-10,10-10h65.666c5.522,0,10,4.477,10,10v68    C270.546,459.515,266.068,463.992,260.546,463.992z M204.88,443.992h45.666v-48H204.88V443.992z"/></g></g></svg></label></li>

      <li class="tabs_li" title="Shipping"><label for="tab3" role="button"><svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g id="Launching"><path d="M12.3638,41.0681S8.0312,44.5,7.7561,53.93A1.9032,1.9032,0,0,0,9.68,55.8808c9.1235-.17,12.8618-4.6343,12.8618-4.6343a7.3926,7.3926,0,0,0,0-10.1784C19.7314,38.2574,15.5652,38.394,12.3638,41.0681Z"/><path d="M32.5049,44.4262a11.424,11.424,0,0,1,2.2751,5.85,34.1291,34.1291,0,0,1-.8711,9.8921,1.4354,1.4354,0,0,0,2.0733,1.5869c7.6938-4.0539,14.0468-11.8882,9.9934-22.1077A32.1494,32.1494,0,0,1,32.5049,44.4262Z"/><path d="M13.33,28.8247a11.4207,11.4207,0,0,1,5.8552,2.2807A31.9474,31.9474,0,0,1,23.9631,17.63C13.741,13.5725,5.9065,19.9291,1.8484,27.6235a1.42,1.42,0,0,0,.1279,1.5332,1.4348,1.4348,0,0,0,1.46.539A34.1864,34.1864,0,0,1,13.33,28.8247Z"/><path d="M60.4182,5.3488a2.5779,2.5779,0,0,0-2.1538-2.1535,32.8033,32.8033,0,0,0-9.4988-.0391A13.47,13.47,0,0,0,60.4582,14.841,32.8093,32.8093,0,0,0,60.4182,5.3488Z"/><path d="M46.1135,3.6481a27.7164,27.7164,0,0,0-12.65,6.7024C21.789,21.16,21.831,32.1193,21.831,32.1193l9.6629,9.6629s10.96.0421,21.7688-11.6319a27.7158,27.7158,0,0,0,6.7036-12.6561A16.1679,16.1679,0,0,1,46.1135,3.6481ZM41.6621,27.583a5.64,5.64,0,1,1,5.64-5.64A5.64,5.64,0,0,1,41.6621,27.583Z"/></g></svg></label></li>    

      <li class="tabs_li" title="Infomation"><label for="tab4" role="button"><svg viewBox="0 0 24 24">
          <path d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
      </svg></label></li>
    </ul>
    
    <div class="slider"><div class="indicator"></div></div>
    <div class="content">
      <section>
        <h3>Ratings Detail</h3>
        <div class="rating_chart">
          <%= render 'posts/doughnut_chart' %>
        </div>
      </section>
      <section>
        <h3>Users Evalutation</h3>
        <% if @post.eva_title_01.present? %>
          <div class="evaluation_box">          
            <%= render 'posts/evaluation_box' %>
          </div><!-- evaluation_box -->
        <% end %>
      </section>
      <section>
        <h3>Rocket Shipping</h3>
        <div class="shipping_info">
          <% if @post.rocket.present? %>
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM371.8 211.8l-128 128C238.3 345.3 231.2 348 224 348s-14.34-2.719-19.81-8.188l-64-64c-10.91-10.94-10.91-28.69 0-39.63c10.94-10.94 28.69-10.94 39.63 0L224 280.4l108.2-108.2c10.94-10.94 28.69-10.94 39.63 0C382.7 183.1 382.7 200.9 371.8 211.8z"/></svg>
          <% else %>
            <svg style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="close"><g><circle cx="256" cy="256" r="253.44"/><path d="M350.019,144.066l17.521,17.522c6.047,6.047,6.047,15.852,0,21.9L183.607,367.419    c-6.047,6.048-15.852,6.047-21.9,0l-17.521-17.522c-6.047-6.047-6.047-15.852,0-21.9l183.932-183.933    C334.166,138.018,343.971,138.018,350.019,144.066z" style="fill:#FFFFFF;"/><path d="M367.54,349.899l-17.522,17.522c-6.047,6.047-15.852,6.047-21.9,0L144.186,183.488    c-6.047-6.047-6.047-15.852,0-21.9l17.522-17.522c6.047-6.047,15.852-6.047,21.9,0L367.54,327.999    C373.588,334.047,373.588,343.852,367.54,349.899z" style="fill:#FFFFFF;"/></g></g><g id="Layer_1"/></svg>
          <% end %>
        </div>
      </section>
      <section>      
        <h3>Infomation</h3>
        <div class="info_info">
          <ul class="info_ul">
            <% if @post.info_01.present? %>
              <li><%= @post.info_01 %></li>
              <% if @post.info_02.present? %>
                <li><%= @post.info_02 %></li>
              <% end %>
              <% if @post.info_03.present? %>
                <li><%= @post.info_03 %></li>
              <% end %>
              <% if @post.info_04.present? %>
                <li><%= @post.info_04 %></li>
              <% end %>
              <% if @post.info_05.present? %>
                <li><%= @post.info_05 %></li>
              <% end %>
            <% else %>
              <li>없음</li>
            <% end %>
          </ul>
        </div>
      </section>
    </div><!-- content -->
  </div>
<% else %>
  <!-- Three Tabs -->
  <div class="tabs">
    <h2>Review Detail</h2>
    
    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">  
    
    <ul class="tabs_ul">
      <li class="tabs_li" title="Ratings Detail"><label for="tab1" role="button"><svg enable-background="new 0 0 512 512" height="24" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M81.081,140.881c-2.776,0-5.539-1.149-7.516-3.399l-19.334-22c-3.646-4.148-3.238-10.467,0.91-14.113    c4.149-3.646,10.466-3.238,14.113,0.911l12.734,14.49l41.821-36.735c4.148-3.646,10.468-3.236,14.112,0.914    c3.646,4.149,3.236,10.468-0.913,14.113l-49.333,43.333C85.777,140.063,83.425,140.881,81.081,140.881z"/></g><g><path d="M110.162,167.921h-75c-5.522,0-10-4.477-10-10v-77c0-5.523,4.478-10,10-10h75c5.522,0,10,4.477,10,10v77    C120.162,163.444,115.685,167.921,110.162,167.921z M45.162,147.921h55v-57h-55V147.921z"/></g><g><path d="M110.162,310.588h-75c-5.522,0-10-4.477-10-10v-77c0-5.523,4.478-10,10-10h75c5.522,0,10,4.477,10,10v77    C120.162,306.111,115.685,310.588,110.162,310.588z M45.162,290.588h55v-57h-55V290.588z"/></g><g><path d="M110.162,453.254h-75c-5.522,0-10-4.477-10-10v-77c0-5.523,4.478-10,10-10h75c5.522,0,10,4.477,10,10v77    C120.162,448.777,115.685,453.254,110.162,453.254z M45.162,433.254h55v-57h-55V433.254z"/></g><g><path d="M189.5,157.604c-2.073,0-4.137-0.644-5.879-1.91c-3.079-2.237-4.622-6.029-3.979-9.781l4.005-23.349l-16.964-16.537    c-2.726-2.657-3.706-6.631-2.53-10.251c1.177-3.62,4.306-6.258,8.072-6.806l23.444-3.407l10.483-21.244    c1.685-3.414,5.161-5.575,8.968-5.575s7.283,2.161,8.968,5.574l10.484,21.244l23.444,3.407c3.768,0.547,6.896,3.186,8.073,6.806    c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537l4.004,23.35c0.643,3.751-0.899,7.543-3.979,9.78    c-3.08,2.237-7.163,2.532-10.531,0.761l-20.97-11.024l-20.969,11.024C192.689,157.224,191.092,157.604,189.5,157.604z     M215.121,124.133c1.599,0,3.196,0.383,4.653,1.148l7.689,4.042l-1.469-8.561c-0.556-3.244,0.52-6.554,2.876-8.851l6.22-6.063    l-8.596-1.249c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.595,1.249    l6.22,6.063c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.56l7.688-4.042C211.924,124.516,213.522,124.133,215.121,124.133z"/></g><g><path d="M350.873,157.604c-1.592,0-3.189-0.379-4.652-1.148l-20.97-11.024l-20.969,11.024c-3.368,1.772-7.451,1.477-10.531-0.761    c-3.079-2.237-4.621-6.029-3.979-9.78l4.004-23.35l-16.964-16.537c-2.726-2.657-3.706-6.631-2.53-10.251    c1.177-3.62,4.306-6.258,8.073-6.806l23.444-3.407l10.483-21.244c1.685-3.414,5.161-5.575,8.968-5.575s7.282,2.161,8.968,5.574    l10.484,21.244l23.444,3.407c3.767,0.547,6.896,3.186,8.072,6.806c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537    l4.005,23.349c0.644,3.751-0.899,7.543-3.979,9.781C355.01,156.959,352.946,157.604,350.873,157.604z M325.251,124.133    c1.599,0,3.196,0.383,4.653,1.148l7.688,4.042l-1.469-8.56c-0.556-3.244,0.52-6.554,2.876-8.851l6.22-6.063l-8.595-1.249    c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.596,1.249l6.22,6.063    c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.56l7.688-4.042C322.054,124.516,323.652,124.133,325.251,124.133z"/></g><g><path d="M189.5,311.517c-2.073,0-4.137-0.644-5.879-1.91c-3.079-2.237-4.622-6.029-3.979-9.781l4.005-23.349l-16.964-16.537    c-2.726-2.657-3.706-6.631-2.53-10.251c1.177-3.62,4.306-6.258,8.072-6.806l23.444-3.407l10.483-21.244    c1.685-3.414,5.161-5.575,8.968-5.575s7.283,2.161,8.968,5.574l10.484,21.244l23.444,3.407c3.768,0.547,6.896,3.186,8.073,6.806    c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537l4.004,23.35c0.643,3.751-0.899,7.543-3.979,9.78    c-3.08,2.237-7.163,2.532-10.531,0.761l-20.97-11.024l-20.969,11.024C192.689,311.138,191.092,311.517,189.5,311.517z     M215.121,278.046c1.599,0,3.196,0.383,4.653,1.149l7.689,4.042l-1.469-8.561c-0.556-3.244,0.52-6.553,2.876-8.851l6.22-6.063    l-8.596-1.249c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.595,1.249    l6.22,6.063c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.56l7.688-4.042C211.924,278.429,213.522,278.046,215.121,278.046z"/></g><g><path d="M350.873,311.517c-1.592,0-3.189-0.379-4.652-1.148l-20.97-11.024l-20.969,11.024c-3.368,1.772-7.451,1.477-10.531-0.761    c-3.079-2.237-4.621-6.029-3.979-9.78l4.004-23.35l-16.964-16.537c-2.726-2.657-3.706-6.631-2.53-10.251    c1.177-3.62,4.306-6.258,8.073-6.806l23.444-3.407l10.483-21.244c1.685-3.414,5.161-5.575,8.968-5.575s7.282,2.161,8.968,5.574    l10.484,21.244l23.444,3.407c3.767,0.547,6.896,3.186,8.072,6.806c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537    l4.005,23.349c0.644,3.751-0.899,7.543-3.979,9.781C355.01,310.873,352.946,311.517,350.873,311.517z M325.251,278.046    c1.599,0,3.196,0.383,4.653,1.149l7.688,4.042l-1.469-8.56c-0.556-3.244,0.52-6.554,2.876-8.851l6.22-6.063l-8.595-1.249    c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.596,1.249l6.22,6.063    c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.561l7.688-4.042C322.054,278.429,323.652,278.046,325.251,278.046z"/></g><g><path d="M461.001,157.604c-1.592,0-3.189-0.379-4.652-1.149l-20.969-11.024l-20.969,11.024c-3.368,1.772-7.451,1.477-10.531-0.761    c-3.079-2.237-4.621-6.029-3.979-9.78l4.004-23.35l-16.964-16.537c-2.726-2.657-3.706-6.631-2.53-10.251    c1.177-3.62,4.306-6.258,8.073-6.806l23.444-3.407l10.483-21.244c1.685-3.414,5.161-5.575,8.968-5.575s7.282,2.161,8.968,5.574    l10.484,21.244l23.444,3.407c3.767,0.547,6.896,3.186,8.072,6.806c1.176,3.62,0.195,7.594-2.53,10.251l-16.964,16.537l4.004,23.35    c0.643,3.751-0.899,7.543-3.979,9.78C465.138,156.959,463.074,157.604,461.001,157.604z M435.38,124.133    c1.599,0,3.197,0.383,4.653,1.149l7.688,4.042l-1.469-8.56c-0.556-3.244,0.52-6.554,2.876-8.851l6.22-6.063l-8.595-1.249    c-3.258-0.473-6.073-2.519-7.53-5.47l-3.844-7.789l-3.843,7.788c-1.457,2.952-4.272,4.998-7.53,5.471l-8.596,1.249l6.22,6.063    c2.356,2.297,3.432,5.607,2.876,8.851l-1.469,8.56l7.688-4.042C432.183,124.516,433.781,124.133,435.38,124.133z"/></g></g></svg><br></label></li>
     
      <li class="tabs_li" title="Shipping"><label for="tab2" role="button"><svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g id="Launching"><path d="M12.3638,41.0681S8.0312,44.5,7.7561,53.93A1.9032,1.9032,0,0,0,9.68,55.8808c9.1235-.17,12.8618-4.6343,12.8618-4.6343a7.3926,7.3926,0,0,0,0-10.1784C19.7314,38.2574,15.5652,38.394,12.3638,41.0681Z"/><path d="M32.5049,44.4262a11.424,11.424,0,0,1,2.2751,5.85,34.1291,34.1291,0,0,1-.8711,9.8921,1.4354,1.4354,0,0,0,2.0733,1.5869c7.6938-4.0539,14.0468-11.8882,9.9934-22.1077A32.1494,32.1494,0,0,1,32.5049,44.4262Z"/><path d="M13.33,28.8247a11.4207,11.4207,0,0,1,5.8552,2.2807A31.9474,31.9474,0,0,1,23.9631,17.63C13.741,13.5725,5.9065,19.9291,1.8484,27.6235a1.42,1.42,0,0,0,.1279,1.5332,1.4348,1.4348,0,0,0,1.46.539A34.1864,34.1864,0,0,1,13.33,28.8247Z"/><path d="M60.4182,5.3488a2.5779,2.5779,0,0,0-2.1538-2.1535,32.8033,32.8033,0,0,0-9.4988-.0391A13.47,13.47,0,0,0,60.4582,14.841,32.8093,32.8093,0,0,0,60.4182,5.3488Z"/><path d="M46.1135,3.6481a27.7164,27.7164,0,0,0-12.65,6.7024C21.789,21.16,21.831,32.1193,21.831,32.1193l9.6629,9.6629s10.96.0421,21.7688-11.6319a27.7158,27.7158,0,0,0,6.7036-12.6561A16.1679,16.1679,0,0,1,46.1135,3.6481ZM41.6621,27.583a5.64,5.64,0,1,1,5.64-5.64A5.64,5.64,0,0,1,41.6621,27.583Z"/></g></svg></label></li>  

      <li class="tabs_li" title="Infomation"><label for="tab3" role="button"><svg viewBox="0 0 24 24">
          <path d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
      </svg></label></li>
    </ul>
    
    <div class="slider"><div class="indicator"></div></div>
    <div class="content">
      <section>
        <h3>Ratings Detail</h3>
        <div class="rating_chart">
          <%= render 'posts/doughnut_chart' %>
        </div>
      </section>
      <section>
        <h3>Shipping</h3>
        <div class="shipping_info">
          <% if @post.rocket.present? %>
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM371.8 211.8l-128 128C238.3 345.3 231.2 348 224 348s-14.34-2.719-19.81-8.188l-64-64c-10.91-10.94-10.91-28.69 0-39.63c10.94-10.94 28.69-10.94 39.63 0L224 280.4l108.2-108.2c10.94-10.94 28.69-10.94 39.63 0C382.7 183.1 382.7 200.9 371.8 211.8z"/></svg>
          <% else %>
            <svg style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="close"><g><circle cx="256" cy="256" r="253.44"/><path d="M350.019,144.066l17.521,17.522c6.047,6.047,6.047,15.852,0,21.9L183.607,367.419    c-6.047,6.048-15.852,6.047-21.9,0l-17.521-17.522c-6.047-6.047-6.047-15.852,0-21.9l183.932-183.933    C334.166,138.018,343.971,138.018,350.019,144.066z" style="fill:#FFFFFF;"/><path d="M367.54,349.899l-17.522,17.522c-6.047,6.047-15.852,6.047-21.9,0L144.186,183.488    c-6.047-6.047-6.047-15.852,0-21.9l17.522-17.522c6.047-6.047,15.852-6.047,21.9,0L367.54,327.999    C373.588,334.047,373.588,343.852,367.54,349.899z" style="fill:#FFFFFF;"/></g></g><g id="Layer_1"/></svg>
          <% end %>
        </div>
      </section>
      <section>      
        <h3>Infomation</h3>
        <div class="info_info">
          <ul class="info_ul">
            <% if @post.info_01.present? %>
              <li><%= @post.info_01 %></li>
              <% if @post.info_02.present? %>
                <li><%= @post.info_02 %></li>
              <% end %>
              <% if @post.info_03.present? %>
                <li><%= @post.info_03 %></li>
              <% end %>
              <% if @post.info_04.present? %>
                <li><%= @post.info_04 %></li>
              <% end %>
              <% if @post.info_05.present? %>
                <li><%= @post.info_05 %></li>
              <% end %>
            <% else %>
              <li>없음</li>
            <% end %>
          </ul>
        </div>
      </section>
    </div><!-- content -->
  </div>
<% end %>
